%h1 Payment Due
%table
  %tr
    %th ReturnDate
    %th Customer Name
    %th Vehicle Info
    %th Payment Due

  - @rentals.each do |rental|
    %tr
      %td= rental_date(rental.return_date)
      %td= Customer.find_by(cust_id: rental.cust_id).name
      %td= rental.vehicle_id
      %td= remaining_balance(rental)
